<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="/home">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/login">Login</a>
    </nav>
    <h1>Login</h1>
  </header>

  <main class="container container-fluid mt-5">
    <section>
        <h2>Login to your Account</h2>

        {{!-- Login form --}}
        <form action="/login" mehtod="POST" id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p><a href="/signup">Sign Up Instead</a></p>
    </section>
  </main>

  <footer>

  </footer>

  <script src="/public/js/login.js"></script>
</body>
</html>